<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PostoInformatica_ERP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PostoInformatica_ERP.styles.css" asp-append-version="true" />
    
</head>
<body>
  @*   <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PostoInformatica_ERP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@

    @* <div class="row">
    <div class="col-md-2" id="menuFrame">
    <div id="cssmenu">
    <ul class="nav nav-list" id="menuSideBar">

    <!--  CADASTROS -->
    <li class="active has-sub">
    <a href="#"><span>Cadastros</span></a>
    <ul>
    <li class="has-sub">
    <a href="#"><span>Entidades</span></a>
    <ul>
    <li mid="cliente"><a asp-controller="CLIENTES" asp-action="Index">Clientes</a></li>
    </ul>
    </li>
    </ul>
    </li>

    <!-- MOVIMENTAÇÕES -->
    <li class="active has-sub">
    <a href="#"><span>Comercial</span></a>
    <ul>
    <li><a href="javascript:void(0);"><span>Venda</span></a></li>
    <li><a href="javascript:void(0);"><span>Orçamento</span></a></li>
    </ul>
    </li>
    </ul>

    </div>
    </div>
    <div class="col-md-10">
    <main role="main" class="pb-3">
    @RenderBody()
    </main>
    </div>
    </div> *@

    <div class="row">
        <div class="div-menu-btn ">
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>

            <div class="side-bar">

                <header>
                    <div class="close-btn">
                        <i class="fas fa-times"></i>
                    </div>
                </header>

                <div class="menu">
                    <div class="item">
                        <a class="sub-btn">
                            <i class="fas fa-person-digging"></i>Obras
                            <i class="fas fa-angle-right dropdown"> </i>
                        </a>
                        <div class="sub-menu">
                            <a href="" class="sub-item">Obra 1</a>
                            <a href="" class="sub-item">Obra 2</a>
                            <a href="" class="sub-item">Obra 3</a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="">
                            <i class="fas fa-th"></i>Forms
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <i class="fas fa-cog"></i>Configurações
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <i class="fas fa-info-circle"></i>Sobre
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="div-render-body ">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/577a2a4a43.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/_scriptMenu.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function() {
            $(".menu-btn").click(function () {
                $(".div-menu-btn").addClass("col-md-2");
                $(".div-render-body").addClass("col-md-10");
                $(".side-bar").addClass("active");
                $(".menu-btn").css("visibility", "hidden");
            })

            $(".close-btn").click(function () {
                $(".div-menu-btn").removeClass("col-md-2");
                $(".div-render-body").removeClass("col-md-10");
                $(".side-bar").removeClass("active");
                $(".menu-btn").css("visibility", "visible");
            })

            $(".sub-btn").click(function () {
                $(this).next(".sub-menu").slideToggle();
                $(this).find(".dropdown").toggleClass("rotate");
            })
        })
    </script>

    
    
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
