<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PostoInformatica_ERP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PostoInformatica_ERP.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PostoInformatica_ERP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="sidebar col-md-2">
        <!-- Fazer dessa forma, ou seja, cada #accordionPai vai ter um label -->
        <label>Cadastros</label>
        <div class="accordion accordion-flush" id="accordionPai">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Clientes
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionPai">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Obras
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionPai">
                    <div class="accordion-body">
                        <a href="#">aaaa</a>
                        <a href="#">bbbb</a>
                        <a href="#">cccc</a>
                    </div>
                </div>
            </div>
        </div>

        @* <ul class="menu_items">
        <div class="menu_title menu_dahsboard"></div>

        <li class="item">
        <div href="#" class="nav_link submenu_item">
        <span class="navlink_icon">
        <i class="bi bi-person-vcard"></i>
        </span>
        <span class="navlink">Entidades</span>
        <i class="bi bi-chevron-right arrow-left"></i>
        </div>

        <ul class="menu_items submenu">
        <a href="#" class="nav_link sublink">Clientes</a>
        <a href="#" class="nav_link sublink">Fornecedores</a>
        <a href="#" class="nav_link sublink">Motoristas</a>
        </ul>
        </li>

        <li class="item">
        <div href="#" class="nav_link submenu_item">
        <span class="navlink_icon">
        <i class="bi bi-box-seam"></i>
        </span>
        <span class="navlink">Produtos</span>
        <i class="bi bi-chevron-right arrow-left"></i>
        </div>

        <ul class="menu_items submenu">

        <a class="nav_link sublink" asp-controller="Produtos" asp-action="Index">Produtos</a>
        <a class="nav_link sublink" asp-controller="Marcas" asp-action="Index">Marcas</a>
        <a class="nav_link sublink" asp-controller="Grupos" asp-action="Index">Grupos</a>
        <a class="nav_link sublink" asp-controller="Familias" asp-action="Index">Familias</a>

        </ul>
        </li>
        <!-- end -->
        </ul> *@
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PostoInformatica_ERP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
