@model USUARIO;

@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Index";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<form class="form-control" asp-controller="USUARIOS" asp-action="Entrar" method="post">
    <div class="justify-content-center text-center">
        <img width="35%" src="~/img/logo.jpeg" />
    </div>

    <div class="row justify-content-center text-center">
        <div class="col-md-12">
            <div class="input-field">
                <input required="" type="text" class="input" id="Login" asp-for="NOME" autocomplete="new-password" />
                <label class="label" for="input">Digite seu Email</label>
            </div>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <div class="col-md-12">
            <div class="input-field">
                <input required="" type="password" class="input" id="Senha" asp-for="SENHA" />
                <label class="label" for="input">Digite sua Senha</label>
            </div>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <div class="col-md-12">
            <a href="#" style="font-size:12px">Esqueceu sua senha?</a>
        </div>
    </div>

    <button style="z-index:9999" type="submit" class="button type1"><span class="btn-txt">ENTRAR</span></button>
    <button style="z-index:9999" type="submit" class="button type1 login"><span class="btn-txt">ENTRAR</span></button>

    <div class="row mt-2">
        <div class="col-md-5"><hr /></div>

        <div class="col-md-2"><label class="lbl_cadastrar">OU</label></div>
        
        <div class="col-md-5"><hr /></div>
    </div>

    <button style="z-index:9999" type="submit" class="button type2 cadastrar"><span class="btn-txt">INSCREVA-SE</span></button>

</form>