body {
}

.bg-header-padrao {
    background-color: #2c3a64;
    color: #FFF;
    /*text-align:left;*/
}

.control-label {
    font-size: 0.975rem;
    font-weight: 500;
}

h11 {
    font-size: 0.975rem;
    color: red;
    margin-left: 5px;
}

.div-input {
    text-align: left;
}