/* Configs Gerais */

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e3e0e0;
}

/* Fim Configs Gerais */

/***************************************************************************************************************************************************************************************/

/* Logo Marca */

.img_logo {
    width: 18%;
    border-radius:35px;
}

/* Fim Logo Marca */

.container_login {
    margin-top: 5vh;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    width: 60%;
    display: flex;
    justify-content: center;
}

.background-esquerda {
    background: linear-gradient(to top, #b5c8e6, #859dc1);
    background-color: #859dc1;
}

.espaco-top {
    margin-top: 30px;
}

.cor_texto {
    color: #2c3a64;
    font-weight: bold;
}

.texto-logo {
    color: #56729a;
    font-weight: bold;
}

.texto-versao {
    color: #8596c1;
    font-size:larger;
}

.div-rodape {
    margin: 25% 0% 2% 0%;
}

.texto-rodape {
    color: #7a98c7;
    font-weight: lighter;
}

.label-input {
    font-size: 22px;
    color: #526492;
    font-weight: bold;
}

.input-login {
    border-style: hidden;
    border-bottom: 2px solid #2c3a64;
}

.div-input {
    text-align: left;
}

.button-acessar {
    margin-top: 45px;
    padding: 8px 70px;
    background-color: #0070c8;
    color: #FFF;
    border-style: hidden;
    max-width: inherit;
}

.button-cadastrar {
    max-width:inherit;
    text-decoration: none;
    margin-top: 45px;
    padding: 8px 88px;
    background-color: #859dc1;
    color: #FFF;
    border-style: hidden;
    margin-bottom: 10px;
}

.button-cadastrar:hover {
    color: #FFF;
}

.lbl_cadastrar {
    font-size: smaller;
    text-decoration:none;
}