@model PostoInformatica_ERP.Models.CLIENTES

@{
    Layout = "_LayoutCadastro";
    ViewData["Title"] = "Create";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @Html.Raw(TempData["MensagemErro"])
    </div>
}


<div class="alert alert-danger" id="div_senha_divergente" style="display:none">
    <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
    As senhas não coincidem! Por favor, verifique.
</div>


<form asp-action="Create" id="vForm_Cadastro">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mx-5">
        <div class="card mt-5">
            <div class="card-header bg-header-padrao">
                <label>Cadastro de Usuários</label>
            </div>
            <div class="card-body">
                <div class="row align-items-end">
                    <div class="col-md-2 div-input">
                        <label class="control-label">Data Cadastro</label>
                        <input type="date" class="form-control form-control-sm" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
                    </div>

                    <div class="col-md-10 div-input">
                        <label asp-for="VENDEDOR" class="control-label"></label>
                        <input asp-for="VENDEDOR" class="form-control form-control-sm" maxlength="14" />
                        <span asp-validation-for="VENDEDOR" class="text-danger"></span>
                    </div>
                </div>

                <div class="row align-items-end">
                    <div class="col-md-4 div-input">
                        <label asp-for="CNPJ_CPF" class="control-label"></label><h11>*</h11>
                        <input asp-for="CNPJ_CPF" class="form-control form-control-sm" required id="CNPJ_CPF" maxlength="14" />
                        <span asp-validation-for="CNPJ_CPF" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 div-input">
                        <label asp-for="RG_INSCRICAO" class="control-label"></label><h11>*</h11>
                        <input asp-for="RG_INSCRICAO" class="form-control form-control-sm" required id="RG_INSCRICAO" maxlength="15" />
                        <span asp-validation-for="RG_INSCRICAO" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 div-input">
                        <label asp-for="INSCRICAOMUNICIPAL" class="control-label"></label>
                        <input asp-for="INSCRICAOMUNICIPAL" class="form-control form-control-sm" id="INSCRICAOMUNICIPAL" maxlength="14" />
                        <span asp-validation-for="INSCRICAOMUNICIPAL" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 div-input">
                        <label asp-for="NOME" class="control-label"></label><h11>*</h11>
                        <input asp-for="NOME" class="form-control form-control-sm" required maxlength="60" />
                        <span asp-validation-for="NOME" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 div-input">
                        <label asp-for="FANTASIA" class="control-label"></label>
                        <input asp-for="FANTASIA" class="form-control form-control-sm" maxlength="100" />
                        <span asp-validation-for="FANTASIA" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 div-input">
                        <label asp-for="CEP" class="control-label"></label><h11>*</h11>
                        <input asp-for="CEP" class="form-control form-control-sm" required id="CEP" maxlength="9" />
                        <span asp-validation-for="CEP" class="text-danger"></span>
                    </div>

                    <div class="col-md-8 div-input">
                        <label asp-for="ENDERECO" class="control-label"></label><h11>*</h11>
                        <input asp-for="ENDERECO" class="form-control form-control-sm" required maxlength="60" />
                        <span asp-validation-for="ENDERECO" class="text-danger"></span>
                    </div>

                    <div class="col-md-2 div-input">
                        <label asp-for="NUMERO" class="control-label"></label><h11>*</h11>
                        <input asp-for="NUMERO" class="form-control form-control-sm" id="NUMERO" required maxlength="11" />
                        <span asp-validation-for="NUMERO" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 div-input">
                        <label asp-for="COMPLEMENTO" class="control-label"></label>
                        <input asp-for="COMPLEMENTO" class="form-control form-control-sm" maxlength="30" />
                        <span asp-validation-for="COMPLEMENTO" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 div-input">
                        <label asp-for="BAIRRO" class="control-label"></label><h11>*</h11>
                        <input asp-for="BAIRRO" class="form-control form-control-sm" required maxlength="30" />
                        <span asp-validation-for="BAIRRO" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 div-input">
                        <label asp-for="CIDADE" class="control-label"></label><h11>*</h11>
                        <input asp-for="CIDADE" class="form-control form-control-sm" required maxlength="30" />
                        <span asp-validation-for="CIDADE" class="text-danger"></span>
                    </div>

                    <div class="col-md-2 div-input">
                        <label asp-for="CIDADE_IBGE" class="control-label"></label>
                        <input asp-for="CIDADE_IBGE" class="form-control form-control-sm" id="CIDADE_IBGE" maxlength="7" />
                        <span asp-validation-for="CIDADE_IBGE" class="text-danger"></span>
                    </div>

                    <div class="col-md-1 div-input">
                        <label asp-for="ESTADO" class="control-label"></label><h11>*</h11>
                        <input asp-for="ESTADO" class="form-control form-control-sm" id="ESTADO" required maxlength="2" />
                        <span asp-validation-for="ESTADO" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 div-input">
                        <label asp-for="CAIXA_POSTAL" class="control-label"></label>
                        <input asp-for="CAIXA_POSTAL" class="form-control form-control-sm" id="CAIXA_POSTAL" maxlength="8" />
                        <span asp-validation-for="CAIXA_POSTAL" class="text-danger"></span>
                    </div>

                    <div class="col-md-2 div-input">
                        <label asp-for="PAIS" class="control-label"></label><h11>*</h11>
                        <input asp-for="PAIS" class="form-control form-control-sm" required maxlength="60" />
                        <span asp-validation-for="PAIS" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 div-input">
                        <label asp-for="FONE" class="control-label"></label>
                        <input asp-for="FONE" class="form-control form-control-sm" id="FONE" maxlength="15" />
                        <span asp-validation-for="FONE" class="text-danger"></span>
                    </div>

                    <div class="col-md-2 div-input">
                        <label asp-for="FONE_RAMAL" class="control-label"></label>
                        <input asp-for="FONE_RAMAL" class="form-control form-control-sm" id="FONE_RAMAL" maxlength="3" />
                        <span asp-validation-for="FONE_RAMAL" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 div-input">
                        <label asp-for="CELULAR" class="control-label"></label><h11>*</h11>
                        <input asp-for="CELULAR" class="form-control form-control-sm" required id="CELULAR" maxlength="15" />
                        <span asp-validation-for="CELULAR" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 div-input">
                        <label asp-for="CONTATO" class="control-label"></label><h11>*</h11>
                        <input asp-for="CONTATO" class="form-control form-control-sm" required maxlength="25" />
                        <span asp-validation-for="CONTATO" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 div-input">
                        <label asp-for="EMAIL" class="control-label"></label>
                        <input asp-for="EMAIL" class="form-control form-control-sm" maxlength="200" />
                        <span asp-validation-for="EMAIL" class="text-danger"></span>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header bg-header-padrao text-start">
                        <label> Dados para cobrança:</label>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 div-input" style="display:inline-flex;">
                                <input type="checkbox" class="form-check" id="utilizaMesmoEndereco" name="utilizaMesmoEndereco" value="S" onclick="utilizaEnderecoCadastrado();" style="margin-right:5px" />
                                <label class="control-label" for="utilizaMesmoEndereco">Utilizar mesmo endereço cadastrado</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 div-input">
                                <label asp-for="CEP_COBRANCA" class="control-label"></label>
                                <input asp-for="CEP_COBRANCA" class="form-control form-control-sm" id="CEP_COBRANCA" maxlength="9" />
                                <span asp-validation-for="CEP_COBRANCA" class="text-danger"></span>
                            </div>

                            <div class="col-md-3 div-input">
                                <label asp-for="ENDERECO_COBRANCA" class="control-label"></label>
                                <input asp-for="ENDERECO_COBRANCA" class="form-control form-control-sm" maxlength="60" />
                                <span asp-validation-for="ENDERECO_COBRANCA" class="text-danger"></span>
                            </div>

                            <div class="col-md-2 div-input">
                                <label asp-for="NUMERO_COBRANCA" class="control-label"></label>
                                <input asp-for="NUMERO_COBRANCA" class="form-control form-control-sm" id="NUMERO_COBRANCA" maxlength="11" />
                                <span asp-validation-for="NUMERO_COBRANCA" class="text-danger"></span>
                            </div>

                            <div class="col-md-2 div-input">
                                <label asp-for="COMPLEMENTO_COBRANCA" class="control-label"></label>
                                <input asp-for="COMPLEMENTO_COBRANCA" class="form-control form-control-sm" maxlength="30" />
                                <span asp-validation-for="COMPLEMENTO_COBRANCA" class="text-danger"></span>
                            </div>

                            <div class="col-md-3 div-input">
                                <label asp-for="BAIRRO_COBRANCA" class="control-label"></label>
                                <input asp-for="BAIRRO_COBRANCA" class="form-control form-control-sm" maxlength="30" />
                                <span asp-validation-for="BAIRRO_COBRANCA" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 div-input">
                                <label asp-for="CIDADE_COBRANCA" class="control-label"></label>
                                <input asp-for="CIDADE_COBRANCA" class="form-control form-control-sm" maxlength="30" />
                                <span asp-validation-for="CIDADE_COBRANCA" class="text-danger"></span>
                            </div>

                            <div class="col-md-1 div-input">
                                <label asp-for="ESTADO_COBRANCA" class="control-label"></label>
                                <input asp-for="ESTADO_COBRANCA" class="form-control form-control-sm" maxlength="2" />
                                <span asp-validation-for="ESTADO_COBRANCA" class="text-danger"></span>
                            </div>

                            <div class="col-md-3 div-input">
                                <label asp-for="CAIXA_POSTAL_COBRANCA" class="control-label"></label>
                                <input asp-for="CAIXA_POSTAL_COBRANCA" class="form-control form-control-sm" id="CAIXA_POSTAL_COBRANCA" maxlength="8" />
                                <span asp-validation-for="CAIXA_POSTAL_COBRANCA" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header bg-header-padrao text-start">
                        <label> Dados para acesso:</label>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 div-input">
                                <label asp-for="LOGIN" class="control-label"></label><h11>*</h11>
                                <input asp-for="LOGIN" required autocomplete="new-password" class="form-control form-control-sm" maxlength="20" />
                                <span asp-validation-for="LOGIN" class="text-danger"></span>
                            </div>
                            <div class="col-md-3 div-input">
                                <label asp-for="SENHA" class="control-label"></label><h11>*</h11>
                                <input type="password" asp-for="SENHA" required autocomplete="new-password" class="form-control form-control-sm" id="senha_1" maxlength="18" />
                                <span asp-validation-for="SENHA" class="text-danger"></span>
                            </div>
                            <div class="col-md-3 div-input">
                                <label class="control-label">Confirme sua senha</label><h11>*</h11>
                                <input type="password" required autocomplete="new-password" class="form-control form-control-sm" id="senha_2" maxlength="20" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mt-4">
                        <button type="submit" class="btn btn-lg btn-success">
                            <span>Confirmar</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <label class="">Já possui cadastro?</label> <a asp-action="Index">Entrar</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>

    $('#vForm_Cadastro').submit(function (event) {
        if ($("#senha_1").val() != $("#senha_2").val()) {
            $("#div_senha_divergente").show();
            $("#senha_1").val("");
            $("#senha_2").val("");

            event.preventDefault();
        }
    });

    $(document).ready(function () {

        /* Inputs que aceitam apenas números */
        apenasNumeros("#CNPJ_CPF");
        apenasNumeros("#RG_INSCRICAO");
        apenasNumeros("#INSCRICAOMUNICIPAL");
        apenasNumeros("#NUMERO");
        apenasNumeros("#CIDADE_IBGE");
        apenasNumeros("#CAIXA_POSTAL");
        apenasNumeros("#CAIXA_POSTAL_COBRANCA");
        apenasNumeros("#FONE");
        apenasNumeros("#FONE_RAMAL");
        apenasNumeros("#CELULAR");
        apenasNumeros("#NUMERO_COBRANCA");

        /* Inputs com máscara de CEP */
        mascaraCEP("#CEP");
        mascaraCEP("#CEP_COBRANCA");
    });

    function apenasNumeros(id_elemento) {
        $(id_elemento).on('input', function () {
            $(this).val($(this).val().replace(/\D/g, ''));
        });
    }

    function mascaraCEP(selector) {
        $(selector).on('input', function () {
            let valorCEP = $(this).val().replace(/\D/g, '');

            if (valorCEP.length > 5) {
                valorCEP = valorCEP.substring(0, 5) + '-' + valorCEP.substring(5, valorCEP.length);
            }

            $(this).val(valorCEP);
        });
    }

    function utilizaEnderecoCadastrado() {
        if ($("#utilizaMesmoEndereco").val() == "S") {
            $("#CEP_COBRANCA").val($("#CEP").val())
            $("#CEP_COBRANCA").focus();
            $("#CEP_COBRANCA").blur();
            $("#CEP_COBRANCA").prop("readonly", true)
        }
    }

    $("#CEP_COBRANCA").on("blur", function () {
        preencherEnderecoPorCEP("CEP", "ENDERECO_COBRANCA", "COMPLEMENTO_COBRANCA", "BAIRRO_COBRANCA", "CIDADE_COBRANCA", "CIDADE_IBGE", "ESTADO_COBRANCA");
    });

    $("#CEP").on("blur", function () {
        preencherEnderecoPorCEP("CEP", "ENDERECO", "COMPLEMENTO", "BAIRRO", "CIDADE", "CIDADE_IBGE", "ESTADO");
    });

    function preencherEnderecoPorCEP(cepInputId, logradouroId, complementoId, bairroId, cidadeId, ibgeId, estadoId) {
        var cep = $("#" + cepInputId).val();

        if (cep) { // Verifique se o campo CEP não está vazio
            $.get("https://viacep.com.br/ws/" + cep + "/json/", function (data) {
                if (!data.erro) {
                    $("#" + logradouroId).val(data.logradouro);
                    $("#" + complementoId).val(data.complemento);
                    $("#" + bairroId).val(data.bairro);
                    $("#" + cidadeId).val(data.localidade);
                    $("#" + ibgeId).val(data.ibge);
                    $("#" + estadoId).val(data.uf);
                }
            });
        }
    }

</script>