@model PostoInformatica_ERP.Models.CLIENTES

@{
    Layout = "_LayoutCadastro";
    ViewData["Title"] = "Create";
}


<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mx-5">
        <div class="card mt-5">
            <div class="card-header bg-header-padrao">
                <label>Cadastro de Usuários</label>
            </div>

            <div class="div-input d-none">
                <label asp-for="CODIGO" class="control-label"></label>
                <input asp-for="CODIGO" class="form-control form-control-sm" />
                <span asp-validation-for="CODIGO" class="text-danger"></span>
            </div>

            <div class="card-body">
                <div class="row align-items-end">
                    <div class="col-md-2 div-input">
                        <label class="control-label">Data Cadastro</label>
                        <input type="date" class="form-control form-control-sm" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>

                    <div class="col-md-10 div-input">
                        <label asp-for="VENDEDOR" class="control-label"></label>
                        <input asp-for="VENDEDOR" class="form-control form-control-sm" />
                        <span asp-validation-for="VENDEDOR" class="text-danger"></span>
                    </div>
                </div>

                <div class="row align-items-end">
                    <div class="col-md-3 div-input">
                        <label asp-for="CNPJ_CPF" class="control-label"></label>
                        <input asp-for="CNPJ_CPF" class="form-control form-control-sm" />
                        <span asp-validation-for="CNPJ_CPF" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 div-input">
                        <label asp-for="RG_INSCRICAO" class="control-label"></label>
                        <input asp-for="RG_INSCRICAO" class="form-control form-control-sm" />
                        <span asp-validation-for="RG_INSCRICAO" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 div-input">
                        <label asp-for="INSCRICAOMUNICIPAL" class="control-label"></label>
                        <input asp-for="INSCRICAOMUNICIPAL" class="form-control form-control-sm" />
                        <span asp-validation-for="INSCRICAOMUNICIPAL" class="text-danger"></span>
                    </div>

                    <div class="col-md-2 div-input pb-1">
                        <input type="checkbox" />
                        <label class="control-label">Optante do Simples</label>
                    </div>

                    <div class="col-md-1 div-input pb-1">
                        <input asp-for="COLIGADA" type="checkbox" />
                        <label asp-for="COLIGADA" class="control-label"></label>
                        <span asp-validation-for="COLIGADA" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 div-input">
                        <label asp-for="NOME" class="control-label"></label>
                        <input asp-for="NOME" class="form-control form-control-sm" />
                        <span asp-validation-for="NOME" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 div-input">
                        <label asp-for="FANTASIA" class="control-label"></label>
                        <input asp-for="FANTASIA" class="form-control form-control-sm" />
                        <span asp-validation-for="FANTASIA" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 div-input">
                        <label asp-for="CEP" class="control-label"></label>
                        <input asp-for="CEP" class="form-control form-control-sm" />
                        <span asp-validation-for="CEP" class="text-danger"></span>
                    </div>

                    <div class="col-md-8 div-input">
                        <label asp-for="ENDERECO" class="control-label"></label>
                        <input asp-for="ENDERECO" class="form-control form-control-sm" />
                        <span asp-validation-for="ENDERECO" class="text-danger"></span>
                    </div>

                    <div class="col-md-2 div-input">
                        <label asp-for="NUMERO" class="control-label"></label>
                        <input asp-for="NUMERO" class="form-control form-control-sm" />
                        <span asp-validation-for="NUMERO" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 div-input">
                        <label asp-for="COMPLEMENTO" class="control-label"></label>
                        <input asp-for="COMPLEMENTO" class="form-control form-control-sm" />
                        <span asp-validation-for="COMPLEMENTO" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 div-input">
                        <label asp-for="BAIRRO" class="control-label"></label>
                        <input asp-for="BAIRRO" class="form-control form-control-sm" />
                        <span asp-validation-for="BAIRRO" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 div-input">
                        <label asp-for="CIDADE" class="control-label"></label>
                        <input asp-for="CIDADE" class="form-control form-control-sm" />
                        <span asp-validation-for="CIDADE" class="text-danger"></span>
                    </div>

                    <div class="col-md-2 div-input">
                        <label asp-for="CIDADE_IBGE" class="control-label"></label>
                        <input asp-for="CIDADE_IBGE" class="form-control form-control-sm" />
                        <span asp-validation-for="CIDADE_IBGE" class="text-danger"></span>
                    </div>

                    <div class="col-md-1 div-input">
                        <label asp-for="ESTADO" class="control-label"></label>
                        <input asp-for="ESTADO" class="form-control form-control-sm" />
                        <span asp-validation-for="ESTADO" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 div-input">
                        <label asp-for="CAIXA_POSTAL" class="control-label"></label>
                        <input asp-for="CAIXA_POSTAL" class="form-control form-control-sm" />
                        <span asp-validation-for="CAIXA_POSTAL" class="text-danger"></span>
                    </div>

                    <div class="col-md-2 div-input">
                        <label asp-for="PAIS" class="control-label"></label>
                        <input asp-for="PAIS" class="form-control form-control-sm" />
                        <span asp-validation-for="PAIS" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 div-input">
                        <label asp-for="FONE" class="control-label"></label>
                        <input asp-for="FONE" class="form-control form-control-sm" />
                        <span asp-validation-for="FONE" class="text-danger"></span>
                    </div>

                    <div class="col-md-2 div-input">
                        <label asp-for="FONE_RAMAL" class="control-label"></label>
                        <input asp-for="FONE_RAMAL" class="form-control form-control-sm" />
                        <span asp-validation-for="FONE_RAMAL" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 div-input">
                        <label asp-for="CELULAR" class="control-label"></label>
                        <input asp-for="CELULAR" class="form-control form-control-sm" />
                        <span asp-validation-for="CELULAR" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 div-input">
                        <label asp-for="INTERNET" class="control-label"></label>
                        <input asp-for="INTERNET" class="form-control form-control-sm" />
                        <span asp-validation-for="INTERNET" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 div-input">
                        <label asp-for="CONTATO" class="control-label"></label>
                        <input asp-for="CONTATO" class="form-control form-control-sm" />
                        <span asp-validation-for="CONTATO" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 div-input">
                        <label asp-for="EMAIL" class="control-label"></label>
                        <input asp-for="EMAIL" class="form-control form-control-sm" />
                        <span asp-validation-for="EMAIL" class="text-danger"></span>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header bg-header-padrao text-start">
                        <label> Dados para cobrança:</label>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 div-input">
                                <label asp-for="CEP_COBRANCA" class="control-label"></label>
                                <input asp-for="CEP_COBRANCA" class="form-control form-control-sm" />
                                <span asp-validation-for="CEP_COBRANCA" class="text-danger"></span>
                            </div>

                            <div class="col-md-3 div-input">
                                <label asp-for="ENDERECO_COBRANCA" class="control-label"></label>
                                <input asp-for="ENDERECO_COBRANCA" class="form-control form-control-sm" />
                                <span asp-validation-for="ENDERECO_COBRANCA" class="text-danger"></span>
                            </div>

                            <div class="col-md-2 div-input">
                                <label asp-for="NUMERO_COBRANCA" class="control-label"></label>
                                <input asp-for="NUMERO_COBRANCA" class="form-control form-control-sm" />
                                <span asp-validation-for="NUMERO_COBRANCA" class="text-danger"></span>
                            </div>

                            <div class="col-md-2 div-input">
                                <label asp-for="COMPLEMENTO_COBRANCA" class="control-label"></label>
                                <input asp-for="COMPLEMENTO_COBRANCA" class="form-control form-control-sm" />
                                <span asp-validation-for="COMPLEMENTO_COBRANCA" class="text-danger"></span>
                            </div>

                            <div class="col-md-3 div-input">
                                <label asp-for="BAIRRO_COBRANCA" class="control-label"></label>
                                <input asp-for="BAIRRO_COBRANCA" class="form-control form-control-sm" />
                                <span asp-validation-for="BAIRRO_COBRANCA" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-7 div-input">
                                <label asp-for="CIDADE_COBRANCA" class="control-label"></label>
                                <input asp-for="CIDADE_COBRANCA" class="form-control form-control-sm" />
                                <span asp-validation-for="CIDADE_COBRANCA" class="text-danger"></span>
                            </div>

                            <div class="col-md-1 div-input">
                                <label asp-for="ESTADO_COBRANCA" class="control-label"></label>
                                <input asp-for="ESTADO_COBRANCA" class="form-control form-control-sm" />
                                <span asp-validation-for="ESTADO_COBRANCA" class="text-danger"></span>
                            </div>

                            <div class="col-md-2 div-input">
                                <label asp-for="CAIXA_POSTAL_COBRANCA" class="control-label"></label>
                                <input asp-for="CAIXA_POSTAL_COBRANCA" class="form-control form-control-sm" />
                                <span asp-validation-for="CAIXA_POSTAL_COBRANCA" class="text-danger"></span>
                            </div>

                            <div class="col-md-2 div-input">
                                <label asp-for="COND_PAGAMENTO" class="control-label"></label>
                                <select asp-for="COND_PAGAMENTO" class="form-select form-select-sm">
                                    <option value="A">A Vista</option>
                                    <option value="B">Boleto</option>
                                    <option value="C">Cartão</option>
                                </select>
                                <span asp-validation-for="COND_PAGAMENTO" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header bg-header-padrao text-start">
                        <label> Dados para acesso:</label>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 div-input">
                                <label asp-for="LOGIN" class="control-label"></label>
                                <input asp-for="LOGIN" required autocomplete="new-password" class="form-control form-control-sm" />
                                <span asp-validation-for="LOGIN" class="text-danger"></span>
                            </div>
                            <div class="col-md-3 div-input">
                                <label asp-for="SENHA" class="control-label"></label>
                                <input type="password" asp-for="SENHA" required autocomplete="new-password" class="form-control form-control-sm" />
                                <span asp-validation-for="SENHA" class="text-danger"></span>
                            </div>
                            <div class="col-md-3 div-input">
                                <label class="control-label">Confirme sua senha</label>
                                <input type="password" required autocomplete="new-password" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div-input">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
